@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-6">
            <partial name="_Register.cshtml"/>
        </div>
        <div class="col-sm-6">
            <partial name="_Login.cshtml"/>
        </div>
    </div>
    
</div>
